.App-body {
    border-bottom: 3px solid rgb(225, 67, 67);;
    border-top: 3px solid rgb(225, 67, 67);;
    height: 80%;
    padding-left: 3rem;
    padding-top: 2rem;
  }
  label {
    text-transform: capitalize;
    padding-right: 1rem;
  }
  input {
    margin-right: 1rem;
  }
